/* components/HomePage.css */
.home-page {
  padding: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.home-page h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 20px;
}

.home-page p {
  font-size: 1em;
  margin-bottom: 10px;
}
